.profile {
    display: flex;
    flex-wrap: wrap;

    margin: 120px 0 0;
}

.profile__form  {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 480px;
}

.profile__input  {
    width: 100%;
}

.profile__input div  {
    width: 100%;
}

.profile__form div div div div:last-child {
    width: 24px;
    padding-left: 24px;
}

.profile__form input  {
    width: 100%;
} 

.profile__wrapper {
    text-align: center;
}

.profile__info {
    flex-basis: 100%;
}

.profile__infoItem {
    display: block;

    width: 320px;

    opacity: 0.4;
}

.profile__formActions {
    align-self: end;
}

.profile__formActionsActive {
    display: block;
}