.number {
    display: flex;
    align-items:center;

    height: 64px;
}

.status {
    display: block;

    color: #00CCCC;
}

.subtitle {
    display: block;
}

.orders {
    max-height: 312px;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;

    list-style: none;

    overflow-y: scroll;
    overflow-x: hidden;
    
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
}

.orders::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.orders::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.orders::-webkit-scrollbar-thumb:hover {
    background-color: #8585AD;
}

.order {
    display: flex;
    align-items: center;
}

.order:not(:last-child) {
    margin-bottom: 16px;
}

.imgContainer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    margin: 2px;
    margin-right: 18px;

    border-radius: 100%;

    background-color: #1C1C21;
}

.imgContainer::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
  border-radius: 100%;
  z-index: -1;
}

.ingredientName {
    width: 320px;
}

.priceWrapper {
    display: flex;
    align-items: center;
    
    margin-left: auto;
}

.count {
    display: block;
}

.multiplier {
    display: block;
}

.price {
    display: block;
}

.icon {
    width: 24px;
    height: 24px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.totalСost {
    display: flex;
}
