.burgerIngredient {
    text-decoration: none;
    
    color: white;
}

.burgerIngredient__item {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center; 

    width: 272px;
}

.burgerIngredient__price {
    display: flex;
}
